{# src/Blogger/BlogBundle/Resources/views/Page/newblog.html.twig #}
{# Reference: http://tutorial.symblog.co.uk/docs/configuration-and-templating.html #}
 
{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}Add a New Blog{% endblock%}

{% block body %}
    <header>
        <h2>Add a new Entry</h2>
    </header>

{% if app.session.hasFlash('blogger-notice') %}
    	<div class="blogger-notice">
        	{{ app.session.flash('blogger-notice') }}
    	</div>
{% endif %}


    	<textarea class="tinymce" rows="20" cols="20" style="width:100%; height:100%" data-theme="advanced"></textarea>
	{{ tinymce_init() }}	

	{# <form action="{{ path('BloggerBlogBundle_newblog') }}" method="post" {{ form_enctype(form) }} class="blogger">
        {{ form_errors(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.subject) }}
        {{ form_row(form.body) }}

        {{ form_rest(form) }}

        <input type="submit" value="Submit" />
    </form> #}
{% endblock %}

{% block sidebar %}
    {# empty content #}
{% endblock %}
