{# Tutorial obtained from: http://tutorial.symblog.co.uk/docs/configuration-and-templating.html #}

<!-- app/Resources/views/base.html.twig -->
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html"; charset=utf-8" />
        <title>{% block title %}Symfony2 Demo{% endblock %} - Group 10: WeWeb</title>
        {% block stylesheets %}
		<link href='http://fonts.googleapis.com/css?family=The+Girl+Next+Door' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope' rel='stylesheet' type='text/css'>
		{# {{ }} tag prints out the return value of the asset function #}
        	<link href="{{ asset('css/screen.css') }}" type="text/css" rel="stylesheet" />
	{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        <section id="wrapper">
            <header id="header">
                <div class="top">
                    {% block navigation %}
                        <nav>
                            <ul class="navigation">
                                <li><a href="{{ path('BloggerBlogBundle_homepage') }}">Home</a></li>
                                <li><a href="{{ path('BloggerBlogBundle_about') }}">About</a></li>
								<li><a href="{{ path('BloggerBlogBundle_comparison') }}">Comparison</a></li>
                                <li><a href="{{ path('BloggerBlogBundle_contact') }}">Contact</a></li>
				<li><a></a></li>
                            </ul>
                        </nav>
                    {% endblock %}
                </div>

                <hgroup>
    			<h2>{% block blog_title %}<a href="{{ path('BloggerBlogBundle_homepage') }}">Symfony2 Demo</a>{% endblock %}</h2>
    			<h3>{% block blog_tagline %}-- Life got a lot easier with Symfony2 --{% endblock %}</h3>
                </hgroup>
            </header>
	    <div id="newblog">
		<li><a href="{{ path('BloggerBlogBundle_newblog') }}">Add blog</a></li>
	    </div>
            <section class="main-col">
                {% block body %}{% endblock %}
            </section>
            <aside class="sidebar">
                {% block sidebar %}{% endblock %}
            </aside>

            <div id="footer">
                {% block footer %}
                	CMPT 470 Tech Eval Group 10 WeWeb
                {% endblock %}
            </div>
        </section>

        {% block javascripts %}{% endblock %}
    </body>
</html>
